/* body {
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 10fr;
  grid-template-areas:
  "header header"
  "nav nav"
  "form main"
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.form {
  grid-area: form;
}

.filter {
  grid-area: form;
}

.main {
  grid-area: main;
}

 */
